<div class="subscribe-background">
  <div class="row col-md-12 d-flex justify-content-center">
    <div class="col-md-6 align-items-center d-flex flex-column mb-5">
    <h3>Lorem ipsum dolor sit amet.</h3>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fugit, debitis.</p>
    <section class="display d-flex">
    <input class="form-control" type="search" placeholder="Search" aria-label="Search">
    <button type="button" class="btn btn-primary">SUBSCRIBE</button>
    </section>
    </div>
   </div>
   </div>
<footer>
    <div class="container">
      <div class="row mb-2">

        <div class="col-md-3 d-flex flex-column">
          <h2>BizLand</h2>
          <span>Lorem, ipsum dolor.</span>
          <span>Lorem, ipsum dolor.</span>
          <span>Lorem, ipsum</span>
          <span><strong>Phone</strong> +12392138192</span>
          <span><strong>Email</strong> nn@gmail.com</span>
        </div>

        <div class="col-md-3">
          <h5>Useful Links</h5>
          <ul class="lower_greek">
            <li>Lorem, ipsum.</li>
            <li>Lorem, ipsum.</li>
            <li>Lorem, ipsum.</li>
            <li>Lorem, ipsum.</li>
            <li>Lorem, ipsum.</li>
          </ul>
        </div>

        <div class="col-md-3">
          <h5>Our Services</h5>
          <ul>
            <li>Lorem, ipsum.</li>
            <li>Lorem, ipsum.</li>
            <li>Lorem, ipsum.</li>
            <li>Lorem, ipsum.</li>
            <li>Lorem, ipsum.</li>
          </ul>
        </div>

        <div class="col-md-3">
          <h5>Our Social Networks</h5>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Loremipsum dolor sit amet.</p>
          <div class="footer-icon">
          <i class="fab fa-instagram-square"></i><!--insta-->
          <i class="fab fa-facebook-square"></i><!--facebook-->
          <i class="fab fa-twitter"></i>
          </div>
        </div>

      </div>
    </div>
  </footer>