  
  <head>  
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="home_page/css/bootstrap.min.css">
    <!--FontAwesome-->
    <script src="https://kit.fontawesome.com/db92c263ba.js" crossorigin="anonymous"></script>

    <!-- Custom CSS-->
    <link rel="stylesheet" href="home_page/css/style.css">
    <!--Change title icon-->
    <link rel = "icon" href = "home_page/img/logo.png" type = "image/x-icon">
    <title>Drogeria</title>
  </head>