<!--INFO-DIV-->
<div class="info-div">
    <div class="container d-flex justify-content-between">
        <div class="left">
         <i class="fas fa-envelope"></i> <span class="mr-3">dusan.anta95@hotmail.com</span> <!--mail-->
         <i class="fas fa-phone-square-alt"></i> <span>+381618087062</span><!--phone-->
         </div>
        <div class="right">
         <i class="fab fa-instagram-square"></i><!--insta-->
         <i class="fab fa-facebook-square"></i><!--facebook-->
         <i class="fab fa-twitter"></i><!--tviter-->
        </div>
    </div>
</div>