<%- include('partials/head'); %>

<div class="container d-flex justify-content-center mt-5">
<form method="POST" action="novi_korisnik">
    <h3 class="mb-3 mt-3 text-center">Registracija</h3>

    <div class="mb-3">
        <label for="exampleInputIme"> Ime </label>
        <input type="text" class="form-control" id="exampleInputIme" aria-describedby="emailHelp" name="ime">
      </div>

      <div class="mb-3">
        <label for="exampleInputPrezime"> Prezime </label>
        <input type="text" class="form-control" id="exampleInputPrezime" aria-describedby="emailHelp" name="prezime">
      </div>

      <div class="mb-3">
        <label for="exampleInputBrojTelefona"> Broj telefona </label>
        <input type="text" class="form-control" id="exampleInputBrojTelefona" aria-describedby="emailHelp" name="broj_telefona">
      </div>

    <div class="mb-3">
      <label for="exampleInputEmail"> Email </label>
      <input type="email" class="form-control" id="exampleInputEmail" aria-describedby="emailHelp" name="email">
    </div>
    <div class="mb-3">
      <label for="exampleInputLozinka">Lozinka</label>
      <input type="password" class="form-control" id="exampleInputLozinka" name="lozinka">
    </div>
    <section class="d-flex justify-content-center">
    <button type="submit" class="btn btn-primary mt-3">Registruj se</button>
    </section>
</form>
  </div>