<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head'); %>
<body>
    
    <h1>Pozdrav iz proizvoda</h1>

    <ul>
        <ul>
            <ul>
                <% proizvodi.forEach(function(proizvod){ %>
                    <%= proizvod.naziv %>
                    <%= proizvod.id %>
                <% }); %>
              </ul>
          
                
            
          </ul>
        
          
        
      </ul>


</body>
</html>